
.outline{

    border: black 5px;
}

/* 1stbackground section*/
.mission{ 
    background-color:#F6B80F;
        color: black;
    font-size:1rem;
    justify-content: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid #D42F2F 5px;


}
.mission_h1{
    text-align: center;

}


/* About section */
.about{
    display: flex;
    align-items: stretch;
    gap: 40px;
    padding: 40px;
    

}
.about_img{
    flex: 1;
width: 400px;
height: 400px;
float: left;
margin: auto;
}
.about__h2{
    text-align: left;
    padding: 10px;

}


.mission{

padding: 20px;
}

.staff_h2{
flex: 1;

}
.staff__img{
    float: right;
width: 400px;
height: auto;
margin: auto;


}
.staff{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    padding: 40px;
    flex: 1;
}


.line-up{
    display: grid;
    grid-template-columns:repeat(3,1fr);
padding: 20px;
row-gap: 40px;
max-width: 800px;
height: 200px;
align-items: center;
margin: 0 auto;
gap: 50px;

}


.partner{
text-align: center;
padding: 40px 20px;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}
.partner_h2{
    text-align: center;
    padding: 10px;
}




.line-up__img{
    max-width: 100%;
    height: auto;
    object-fit: contain;



}


/* footer */
.container__section--footer{
    height: 5rem;
    text-align: center;
    font-size: larger;
    color: #AFAAAA;
    padding: 8rem;
    padding-bottom: 3rem;
}