.donate__main{

    display: grid;
    grid-template-rows: 1fr .7fr 2fr;
    grid-template-areas:" banner "
                        " message "
                        " donate "
    ;
}


/* banner with image */
.hero{

    grid-area: banner;
    background: blue url("../images/donate-hero-small.jpg") center center; 
    background-size: cover;
    
}



.background{

    width: 85%;
    grid-area: message;
    border-radius: .5rem;
    margin: 1rem auto;
    padding: .5em;
    z-index: -1;
    background-color: #d42f2f;
}

.message{
    grid-area: message;
    background-color:   #F6B80F;
    color:  #292929;
    padding: .5em;
    margin: 1rem auto;
    border-radius: .5rem;
    width: 90%;
    /* box-shadow:  1px 1px 2px 1px #17556D;  */
}

.message__heading{
    font-size: 1.8rem;
    color:  #17556D;
    font:bold;
    text-align: center;
    
}

.message__para{
    color:  #17556D;
}

.message__para--2{

    color:  #17556D;
    margin-top:.5rem;
}




/* Donation Section, starting with container*/
.donations{

    grid-area: donate; 
    /* background-color: rgba(118, 201, 234, 0.715); */

}

/* .donate__form{

    display: flex;

} */

.form-tab{

    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    width: 100%;
    margin: 5% 0;
}




/* [0] formSection === donate */

.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate__group{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.donate__group label,
.donate__group input {

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    height: 20%;
    margin: .3rem;
    border: 1px solid #7a7a7a;
    padding: 5% 5%;
    cursor: pointer;
    border-radius: 1.2em;

}

.donate__group input[type="radio"] 
{

    display:none;

}


.donate__group label:hover {

    background-color: #7a7a7a;
}

.donate__group input[type="radio"]:checked + label {

    background-color: #902424;

}





/* [1] formSection === option */
.option{

    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: .5em;
    align-items: center;
}


.nav-btns{

    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;

}

.option__btn--first{

    width: 50%;

}


.option__btn{
    border-style: none;
    margin: 10% 15%;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid #AFAAAA;
    color: #17556D;
    font-size: 1.25rem;
    font-weight: 600;
}

.option__btn:hover,
.option__btn:focus{

    border: 2px solid #D42F2F;
    transform: scale(.97);
}



/* [2] formSection === payment details */
.payment{

    display:flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: .5em;
}

.payment__container{

    display: flex;

}

.payment__btn{

    border-style: none;
    margin: 2rem;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid #AFAAAA;
    color: #17556D;
    font-size: 1.8rem;
    font-weight: 800;
}


.payment input{

    margin: 10px 0 ; 
    max-width: 30rem;

}

.payment__heading{

   margin: 2rem 0;
}

.payment .payment__cvv{

    max-width: 20%;

}


.active{

    display: flex;
}


.hidden{

    display: none;
}


/* 
@media screen and (min-width:300px){


} */