.donate__main{

    display: grid;
    grid-template-rows: 1fr .7fr 2fr;
    grid-template-areas:" banner "
                        " message "
                        " donate "
    ;
}


/* banner with image */
.hero{

    grid-area: banner;
    background: blue url("../images/donate-hero-small.jpg") center center; 
    background-size: cover;
    
}



.background{

    width: 85%;
    grid-area: message;
    border-radius: .5rem;
    margin: 1rem auto;
    padding: .5em;
    z-index: -1;
    background-color: #d42f2f;
}

.message{
    grid-area: message;
    background-color:   #F6B80F;
    color:  #292929;
    padding: .5em;
    margin: 1rem auto;
    border-radius: .5rem;
    width: 90%;
    /* box-shadow:  1px 1px 2px 1px #17556D;  */
}

.message__heading{
    font-size: 1.8rem;
    color:  #17556D;
    font:bold;
    text-align: center;
    
}

.message__para{
    color:  #17556D;
}

.message__para--2{

    color:  #17556D;
    margin-top:.5rem;
}




/* Donation Section, starting with container*/
.donations{

    grid-area: donate; 

}
.donate__form{

   max-height: 80%;

} 

.form-tab{

    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    width: 100%;
    margin: 5% 0;
}




/* [0] formSection === donate */

.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate__group{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
}

.donate__group label,
.donate__group input {

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45%;
    height: 20%;
    margin: .3rem;
    border: 1px solid #7a7a7a;
    padding: 5% 5%;
    cursor: pointer;
    border-radius: 1.2em;

}

.donate__group input[type="radio"] 
{

    display:none;

}


.donate__group label:hover {

    background-color: #7a7a7a;
}

.donate__group input[type="radio"]:checked + label {

    background-color: #902424;

}





/* [1] formSection === option */
.option{

    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: .5em;
    align-items: center;
}


.nav-btns{

    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    flex-direction: column;

}



.option__btn{
    border-style: none;
    margin: 5% 5%;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid #AFAAAA;
    color: #17556D;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 2rem;
}

.option__btn--first{

    padding: .5rem 1.5rem;

}


.option__btn:hover,
.option__btn:focus{

    border: 2px solid #D42F2F;
    transform: scale(.97);
}

.payment__container{

    display: flex;

}

.payment__btn{

    border-style: none;
    margin: 2rem;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid #AFAAAA;
    color: #17556D;
    font-size: 1.8rem;
    padding:2rem;
    font-weight: 800;
}



/* [2] formSection === payment details */
.payment{
    display:flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: .5em;
}

.payment input{
    
    width: 20rem;
    height: 3rem;
    box-shadow: -1px 2px 4px 1px;
    border-radius: .6rem;
    transition: 0.3s color;
    color: darkgray;
    margin-bottom: .2rem;
    background-color: ghostwhite;
    padding: .5rem;

}

.payment__one{
    display: flex;
    flex-direction: column;
}

.payment__two{
    display: flex;
    flex-direction: column;
}

.payment__three{
    display: flex;
    flex-direction: column;
}

.payment__heading{

   margin: 2rem 0;
}

.payment .payment__cvv{

    max-width: 20%;

}

.message h2{

}

.donate__form h2{

font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    padding: 20px;
}

.donate__form h3{
font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
padding-bottom: 20px;


}

.active{

    display: flex;
}


.hidden{

    display: none;
}

.error{
    
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

}


@media  screen and (min-width:480px) {
    

.donate__main{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .5fr 1fr;
    grid-template-areas:" banner banner banner banner"
                        " message message donate donate"
    ;
}

  .hero{
    grid-area: banner;
    background: blue url("../images/donate-large.jpg") center center; 
}

/* For Message on Doantions */

.background{
   background-color: #ffffff;
   max-width: 800px;
}

.message{
    max-width: 800px;
    width: 90%;
    border: #D42F2F solid .5rem;
    grid-area: message;
    
}
.logo__image {
    height: 250px;
    width: 100%;
}


.payment__container{
    flex-direction: column;
    margin: 1rem 1rem;
    padding: .5em;

}
    
.payment__btn {
    margin: .8rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 2px 2rem;
}

}




@media screen and (min-width:980px) {
    
.donate__main{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr .5fr 1.5fr;
    grid-template-areas:" banner banner banner banner"
                        " message message message message "
                        "donate donate donate donate"
    ;
}

.hero{
    grid-area: banner;
    background: blue url("../images/donate-hero-large.jpg") center center; 
    background-size: cover;
}    

.message{
    max-width: 80%;
    width: 80%;
    border: #D42F2F solid .8rem;
    
}

.donate__group{
    flex-direction: row;
}


.payment__container {
        flex-direction: row;
        margin: .5rem;
    }


.donate__group label, 
.donate__group input
 {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 12%;
    height: 20%;
    margin: 0 auto;
    border: 3px solid #7a7a7a;
    padding: 2% 2%;
    cursor: pointer;
    border-radius: 1.5em;


}
.payment{

    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.nav-btns{

    flex-direction: row;
    margin: 0 auto;
}


/* .donations{

    grid-area: donate;
} */

}
