
/* Scrolling text banner, add two updates in it */
.alert-banner {
    font-size: 1.2rem;
    background-color: #f6b80f;
    padding: .8rem;
    overflow: hidden;
    width: 100%;
}

.alert-banner__inner {
  white-space: nowrap;
  animation: scroll 30s linear infinite; 
  display: flex;
}

@keyframes scroll {
  from {
    transform: translateX(100%); 
  }  
  to {
    transform: translateX(-100%); 
  }
}


/* Main image */

.intro__media {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.intro__figure {
    margin: 0;
}

.intro__img {
    display: block;
    width: 100%;
    height: 75vh;
}


.intro__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intro__caption {
    font-size: 3rem;
    font-weight: bold;
}

.intro__readmore {
    font-weight: bold;
    background-color: #D42F2F;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    color: aliceblue;
}

.intro__readmore:hover {
    cursor: pointer;
}


/* Newsletters */

.newsletter__heading {
    text-align: center;
    font-size: 2rem;
    background-color: #17556D;
    color: #f6b80f;
}


.newsletter__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    background-image: url("../images/newspaper1.jpg");
}

.newsletter__item {
    width: 100%;
    overflow: hidden;
}

.newsletter__item p {
    font-size: 1.4rem;
    align-self: baseline;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.newsletter__img {
    max-width: 90%;
    min-width: 50%;
    height: auto;
}

.newsletter__img:hover {
    cursor: pointer;
    box-shadow: #17556D;
}

.newsletter__item p:hover {
    cursor: pointer;
    background-color: #f6b80f;
}




/* 

This style rule will cause whatever code you set within it to be true UNTIL 
you reach 480px. Use this to have your mobile work well when it is under 480px
Example: You might want to cause your flexed elements to have the follwing properties:

@media screen and (max-width: 480px){

.container{
    display: flex;
    flex-direction: column;
}

}

This will cause your elements to flow down, stacking on top of each other. 
NOTE: You don't have to repeat your code if it was already declared earlier in your code. So, 

if you have 

.container{
    display: flex;
    font-size: 1rem; 
    text-align: center;
}

You don't have to repeat the display:flex ruleset in your media query, since it 
will have already inhereted those properties earlier! 

Use the following code to make your breakpoint for mobile: 
these style rules will stay UNTIL you reach 480px: 

*/
@media screen and (max-width: 480px) { 

.newsletter__grid {
   display:flex;
   flex-direction: column;
}

.newsletter__item-container {
    width: 100%;
}

.newsletter__img {
    width: 90vw;
    height: auto; 
}

.newsletter__title {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
} 
}



@media screen and (min-width: 481px) and (max-width:1030px ) {

    .newsletter__grid {
   display:flex;
   flex-direction: column;
}

.newsletter__item-container {
    width: 100%;
}

.newsletter__img {
    width: 90vw;
    height: auto; 
}

.newsletter__title {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-decoration: none; 
}
}