/* Scrolling text banner, add two updates in it */
.alert-banner {
    font-size: 1.2rem;
    background-color: #f6b80f;
    padding: .8rem;
    overflow: hidden;
    width: 100%;
}

.alert-banner__inner {
  white-space: nowrap;
  animation: scroll 30s linear infinite; 
  display: flex;
}

@keyframes scroll {
  from {
    transform: translateX(100%); 
  }  
  to {
    transform: translateX(-100%); 
  }
}

.intro__media {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.intro__figure {
    margin: 0;
}

.intro__img {
    display: block;
    width: 100%;
    height: 75vh;
}

.intro__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intro__caption {
    font-size: 3rem;
    font-weight: bold;
}

.intro__readmore {
    font-weight: bold;
    color: blanchedalmond

}

.newsletter__blogs {
    display: flex;
    flex-direction: column nonwrap;
}

